body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  color: #432000;
  user-select: none;
}

.container {
  display: grid;
  justify-content: space-around;
  direction: column;
  height: 300px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#cat {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#input {
  font-size: large;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  height: 40px;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  color: #432000;
  background-color: #dce1eb;
}

#addbtn {
  font-size: large;
  width: 250px;
  border: none;
  height: 40px;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  color: #fdfdfd;
  background-color: #ac485a;
}

.list-container {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: large;
  text-align: center;
  background-color: #fffdf8;
  padding: 15px;
  border-radius: 6px;
  flex-grow: 1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
  cursor: pointer;
  background-color: #ffecc7;
}

#addbtn:hover {
  cursor: pointer;
  background-color: #432000;
}
